*/config/development
*/logs/log-*.php
*/logs/!index.html
*/APPCACHE/*
*/APPCACHE/!index.html
*/APPCACHE/DB*
*/APPCACHE/DB/!index.html
*/web_root/asset_cache*
*/web_root/asset_cache/!index.html
nbproject
.settings
.buildpath
.project
