/*====================================================================
 Foundation overrides.
====================================================================*/

#crudForm input {
  height: inherit;
}
#crud_page {
  display: inline;
  height: 26px;
  width: inherit;
}

/*====================================================================
 Flexgrid overrides (Grocery CRUD themes folder flexgrid.css line 605).
====================================================================*/

.flexigrid div.pDiv div.pButton:hover,.flexigrid div.pDiv div.pButton.pBtnOver {
  width:22px;
  height:22px;
}
.flexigrid div.pDiv div.pButton:hover span,.flexigrid div.pDiv div.pButton.pBtnOver span {
  width:20px;
  height:20px;
}